@tailwind base;
@tailwind components;
@tailwind utilities;
h1,h2,h3{
  color:#43a047 ;
}
h1 spa, h2 span ,h3 span{
  color: #1e88e5;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}